
.html {
    min-height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 10fr 0.5fr;
}

/* Header Section*/
.header {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Main Section */
.main{
    background-color: aliceblue;
    display: flex;
}

/* LEFT Main Section */
.left-main {
    width: 15%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.new-addition-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.radio-element {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.form-radio {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit-btn {
    width: 5rem;
}


/* RIGHT Main Section */
.right-main {
     width: 85%;
     background-color: aliceblue;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
    gap: 40px;
    padding: 15px;
}

.card {
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.have-read {
    color: green;
}

.have-not-read {
    color: red;
}

.btnsContainer {
    background-color: beige;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.cardBtns {
    background-color: rgb(239, 248, 248);
}



.cardIcons {
    height: 20px;
    width: 20px;
}

/* Footer Section */
.footer {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}